html, body, * {
    box-sizing: border-box;
}

/* NOTE:
padding parameters in order: top right bottom left */

/* was under "body" in style.css btw */
.main-content { 
    padding: 0;
    width: 60vw;
    max-width: 960px;
    line-height: 1.4;
    margin: 0 30vw 0 10vw;
}

.contact-form { 
    padding: 0;
    width: 60vw;
    max-width: 960px;
    line-height: 1.4;
    margin: auto;
}

.page-header {
    padding: 1rem 0;
    text-align: center;
}

.heading-2 {
    padding: 1rem 0;
}

.heading-3 {
    padding: 0.5rem;
}

.page-footer {
    padding: 0.01rem 0;
}

.footer-nav {
  list-style-type: none;
}

.flex-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  text-align: center;
  padding: 0.01rem 2rem;
  margin-top: 1rem;
}

.flex-footer-me {
  flex: 1 1 auto;
  order: 1;
}

.flex-footer-important {
  flex: 1 1 auto;
  order: 2;
}

.flex-footer-sources {
  flex: 1 1 auto;
  order: 3;
}

.sidebar {
    background: #EB5D7E;
    position: sticky;
    top: 3rem;
    overflow: hidden;
    width: 20vw;
    padding: 0.5rem;
    margin: 1rem 4rem 1rem 0;
    margin-top: 1rem;
    margin-left: 8vw;
    margin-right: clamp(2vw, 5%, 8vw); 
    float: right;
    scroll-margin-top: 1rem;
}

.main-nav {
    display: flex;
    justify-content:space-between;
    align-items: left;
    flex-flow: row wrap;

    width: 100%;
    padding: .5rem 0 .5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
}

.figure-right {
    max-width: 100%;
    height: auto;
    float: right;
    padding: 0 0 0 2rem; 
}

.figure-left {
    max-width: 100%;
    height: auto;
    float: left;
    padding: 0 2rem 0 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.logo {
    position: absolute;
    top: 12vw;
    right: 16vw;
    width: clamp(80px, 10vw, 150px);
    height: auto;
}

.fluid-image {
  width: auto;
  height: auto;
}

.bordered-box {
    border: 1px solid #FE8E75;
    padding: 1rem;
    margin: 1rem 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  flex: 1 1 30%;
  min-width: 200px;
}

input, textarea, select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
  }

  legend {
    font-family: "Silkscreen", sans-serif;
    color:#571564;
  }

  input[type="radio"],input[type="checkbox"] {
    margin-right: 0.5rem;
    width: auto;
  }

  .inline-control {
    display: inline;
    width: auto;
    margin: 0 1em 0 0;
  }
  
  input[type="submit"], input[type="reset"] {
    width: auto;
    padding: 0.5em 1em;
    background-color: #9b177e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #2A1458;
  }

  

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table caption {
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  tr {
    border-bottom: thin solid #47170D;
  }
  
  thead tr {
    background-color: #9b177e;
    color: cornsilk;
  }
  
  tbody tr:nth-child(even) {
    background-color: #FE8E75;
  }
  
  tbody tr:hover {
    background-color: #EB5D7E;
  }
  
  
  
