.products-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3,auto);
    gap: 20px;
    padding: 20px;
    background-color: #EB5D7E;
}

.product-card {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f0abcd;
    border: 1px solid #9b177e;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(42,20,88,0.75);
}

.featured-product {
    grid-column: 2 / -2; /*spans 4 columns btw*/
    grid-row: 1 / 2;
}

.second-row-product {
    grid-column: span 3;
    grid-row: 2 / 3;
}

.third-row-product {
    grid-column: span 2;
    grid-row: 3 / 4;
}

.product-image {
    width: auto;
    max-width: 250px;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
}