@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.accent {
    color: #FFF;
    background-color: #9b177e;
}

.text-accent {
    color: #9b177e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffead8 0%, #e88ac1 100%);
    color: #47170D;
}

header, h1 {
    font-family: "Silkscreen", sans-serif;
    background: #9b177e;
    color: #FE8E75;
    font-size: clamp(5.5vw, 2.5vw, 100%);
}

h2 {
    font-family: "Silkscreen", sans-serif;
    background: #FE8E75;
    color:#571564;
}

h3 {
    font-family: "Silkscreen", sans-serif;
    color: #460047;
}

h4 {
    font-family: "Silkscreen", sans-serif;
    color: #460047;
}

nav {
    background: #EB5D7E;
    color:#47170D;
}

/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }  

footer {
    background: #EB5D7E;
    color: #47170D;
}

a:link, a:visited { color: #2A1458; }
a:hover { color: rgb(196, 0, 163); }
a:active { color: rgb(215, 112, 255); }

fluid-image {
    max-width: 100%;
    height: auto;
}
